footer
{
    margin-top:80px;
}
footer p#social a
{
    margin-right:6px;
}

div.navspacer
{
    height:120px;
}

div.navspacer#carousel
{
    height:50px;
}

.navbar-inverse .navbar-brand
{
    color:#ffffff;
}

.navbar-inverse .navbar-brand:hover
{
    color:#af1212;
}

.navbar-brand > img
{
    display:inline;
    margin-left:8px;
    margin-bottom:6px;
    width:20px;
}

.carousel-caption
{
    height:100px;
}
/*.carousel-caption-center
{
    position:relative;
   vertical-align:middle;
}*/
.carousel-caption h1
{
    font-size:16px;
}

.carousel-control.right,
.carousel-control.left
{
    background-image:none;
}

.featurette-heading
{
    margin-top: 0px;
}

div.navspacer
{
    height: 80px;
}

.red
{
    color:#af1212;
}

@media (min-width: 768px) {
    div.navspacer#carousel
    {
        height:0px;
    }
    .carousel-caption
    {
        height:200px;
    }
    .carousel-caption h1
    {
        font-size:36px;
    }
    .featurette-heading
    {
        margin-top: 0px;
    }
    div.navspacer
    {
        height: 120px;
    }
}

@media (min-width: 1025px) {
    div.navspacer#carousel
    {
        height:0px;
    }
    .carousel-caption
    {
        height:340px;
    }
    .carousel-caption h1
    {
        font-size:72px;
    }
    .featurette-heading
    {
        margin-top: 40px;
    }
    div.navspacer
    {
        height: 120px;
    }
}